/*==============*/
/*HEADER AND NAV*/
/*==============*/
.chip-padding {
	padding-left: 50px;
}
/*============*/
/*MAIN CONTENT*/
/*============*/
.parallax-container {
	height: 250px;
}
#main-content {
	margin-top: 50px;
	padding-left: 50px;
}
#game-title {
	text-align: left;
}
#other-content {
	padding-left: 50px;
}
/*======*/
/*FOOTER*/
/*======*/


