/*==============*/
/*HEADER AND NAV*/
/*==============*/
<<<<<<< HEAD

=======
#searchBar {
	margin-right: 10px;
}

.chip-padding {
	padding-left: 50px;
}
/*============*/
/*MAIN CONTENT*/
/*============*/
.parallax-container {
	height: 250px;


}

.nav-wrapper {
	background-color: black;
	color: white;
	

}



.title {
	border-bottom: 4px solid green; 

}

body {
		border-bottom: 4px solid green;
		background-color: #E6E6E6;
}

.page-footer {
		background-color: black;
	color: white;
			border-top: 4px solid green;

}

#rowGreen {
	border-top: 4px solid green;
}

h3 {
	margin-left: 10px;
}

.Console {
	text-align: center;
}


#main-content {
	
	padding-left: 50px;


}
#game-title {
	text-align: center;
}
#other-content {
	padding-left: 50px;
}
/*======*/
/*FOOTER*/
/*======*/


