/*============*/
/*MAIN CONTENT*/
/*============*/
/*PARALLAX*/
.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.parallax-container {
	height: 250px;
}
/*PARALLAX END*/
.centered {
	text-align: center;
}

.bottom {
	background-image: url("https://images.igdb.com/igdb/image/upload/t_screenshot_huge/fdfedir0ruao8xm9qcgq.jpg");
}
/*======*/
/*FOOTER*/
/*======*/


